{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
<!-- products CSS -->
<link rel="stylesheet" href="{{ asset('assets/css/mentionsLegales.css') }}">
{% endblock %}

{% block body %}
<div class="container">

    <h1>Mentions légales :</h1>
    Site : cliks.dylanbury.com

    <h2>Propriétaire</h2>
    <p>Bury Dylan</p>
    <p>4 rue villa saint corbinien</p>
    <p>Email :<a href="mailto:dylanbury.pro@gmail.com?subject=Contact mentions légales">dylanbury.pro@gmail.com</a></p>

    <h2>Création et maintenance du site</h2>
    <p>Bury Dylan</p>
    <p>06.31.54.99.12</p>
    <p>Email :<a href="mailto:dylanbury.pro@gmail.com?subject=Contact mentions légales">dylanbury.pro@gmail.com</a></p>
    <a href="https://dylanbury.com/">https://dylanbury.com/</a>

    <h2>Hébergeur du site</h2>
    <p> OVH – SAS au capital social de 10.000.000 €uros</p>
    <p> Immatriculée au RCS de Roubaix-Tourcoing n°424 761 419</p>
    <p> Siège social : 2 rue Kellermann – 59100 ROUBAIX</p>
    <p> Tel.: +33 (0)820.698.765</p>

    <p> La politique du site cliks.dylanbury.com est en conformité avec la loi n°2004-575 du 21 juin 2004 pour
        la confiance dans l’économie numérique.</p>

</div>
{% endblock %}