header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
  z-index: 1;
  padding: calc(1.5rem + 5px) 0;
  background-color: #3E3E3E;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo i {
  font-size: 2rem;
}
header .logo span {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
header a {
  color: white;
  font-weight: 500;
}
header li {
  color: white;
  font-weight: 500;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .nav-left {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav #nav-links li {
  margin-left: 50px;
}
header nav #nav-links a {
  padding: 5px;
  font-size: 1.2rem;
}
header nav #nav-links a.active {
  border-bottom: solid 2px white;
}
header nav #nav-links a:hover {
  border-bottom: solid 2px white;
}
header nav #nav-links.mobile-menu {
  transform: translateX(0);
}
header nav .nav-icon {
  display: flex;
  align-items: center;
}
header nav .nav-icon li {
  margin-left: 30px;
}
header nav .nav-icon i {
  font-size: 1.3rem;
}
header nav .nav-icon #search {
  margin-left: 10px;
  cursor: pointer;
}
header nav .nav-icon .btn-search {
  display: none;
}
header nav .nav-icon input {
  display: none;
  margin: 0;
  padding: 0 0.5rem;
  width: 100%;
}
header nav .nav-icon input.active {
  display: block;
}
header nav .nav-icon .user-icon {
  cursor: pointer;
  position: relative;
}
header nav .nav-icon .user-icon:hover ul {
  display: flex;
}
header nav .nav-icon .user-icon:focus-within ul {
  display: flex;
}
header nav .nav-icon .user-icon ul {
  position: absolute;
  width: max-content;
  display: none;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);
}
header nav .nav-icon .user-icon ul a {
  margin: 0.3rem;
  text-align: center;
}
header nav .nav-icon .cart-icon {
  position: relative;
}
header nav .nav-icon .cart-icon .cart-badge {
  padding: 2px 7px;
  background-color: white;
  color: #3E3E3E;
  border-radius: 50px;
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 0.8rem;
  font-weight: 500;
  border: 3px solid #3E3E3E;
}
header nav #burger-menu {
  display: none;
  font-size: 2.5rem;
  position: absolute;
  left: 3rem;
  color: white;
}

.scrolled {
  background-color: #3E3E3E;
}

@media screen and (max-width: 991.98px) {
  header nav #nav-links li {
    margin-left: 10px;
  }
}
@media screen and (max-width: 767.98px) {
  header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  header nav #burger-menu {
    display: block;
    z-index: 1;
    cursor: pointer;
  }
  header nav .open {
    display: block;
  }
  header nav .close {
    display: none;
  }
  header nav .opened .open {
    display: none;
  }
  header nav .opened .close {
    display: block;
    color: #3E3E3E;
  }
  header nav #nav-links {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #DFDFDF;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  header nav #nav-links li {
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: 600;
  }
  header nav #nav-links li a {
    color: #3E3E3E;
  }
  header nav #nav-links li a.active {
    border-bottom: solid 3px #3E3E3E;
  }
  header nav .nav-icon {
    margin-right: 2rem;
  }
  header nav .nav-icon li {
    margin-left: 15px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575.98px) {
  header .logo {
    left: 80px;
    transform: translateX(0);
  }
  header nav #burger-menu {
    left: 2rem;
  }
  header nav .nav-icon {
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=headerDark.css.map */
