h1 {
  margin: 1.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: space-between;
}
.title .add {
  text-decoration: underline;
  color: #3e3e3e;
}

.account {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.account .order-section {
  padding: 2rem 0;
  width: calc(50% - 1rem);
}
.account .order-section .orders {
  margin: 1rem 0;
}
.account .order-section .orders .order {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 20px;
}
.account .order-section .orders .order .ref {
  text-align: center;
  padding: 0.5rem 0;
}
.account .order-section .orders .order .details {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  font-size: 0.9rem;
}
.account .order-section .orders .order .details #date {
  font-weight: 500;
}
.account .order-section .orders .order .order-detail {
  border-top: 1px solid rgb(211, 211, 211);
  display: none;
  margin-top: 10px;
}
.account .order-section .orders .order .order-detail .product {
  display: flex;
  margin: 0.5rem 0;
}
.account .order-section .orders .order .order-detail .product img {
  width: 100px;
  height: auto;
  border-radius: 20px;
  margin-right: 0.5rem;
}
.account .order-section .orders .order .order-detail .product .product-details {
  width: 100%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  justify-content: space-between;
  text-align: center;
}
.account .order-section .orders .order .order-detail .product .product-details .mt {
  margin-top: 5px;
}
.account .order-section .orders .order .order-detail.active {
  display: block;
}
.account .infos {
  padding: 2rem 0;
  width: calc(50% - 1rem);
}
.account .infos .adresses {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
}
.account .infos .adresses .adress {
  width: 32%;
  border-radius: 20px;
  border: 1px solid rgb(211, 211, 211);
  padding: 1rem;
}
.account .infos .adresses .adress .adress-crud {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}
.account .infos .adresses .adress .adress-crud a {
  text-decoration: underline;
  color: #3e3e3e;
  opacity: 0.6;
}
.account .infos .adresses .adress .adress-crud .delete {
  margin-left: 0.5rem;
}
.account .info-section {
  padding: 2rem 0;
}
.account .info-section .info-detail {
  margin: 1rem 0;
}
.account .info-section .info-detail .table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
.account .info-section .info-detail .table tr {
  border-bottom: 1px solid rgb(211, 211, 211);
}
.account .info-section .info-detail .table tr th {
  font-weight: 500;
}
.account .info-section .info-detail .table tr td {
  padding: 0.5rem;
  opacity: 0.8;
}
.account .info-section .info-detail .table tr:last-child {
  border-bottom: none;
}

@media all and (max-device-width: 1199.98px) {
  .account .infos .adresses .adress {
    width: calc(50% - 0.5rem);
  }
}
@media all and (max-device-width: 991.98px) {
  .account {
    flex-direction: column;
  }
  .account .order-section {
    width: 100%;
  }
  .account .infos {
    width: 100%;
  }
  .account .infos .adresses .adress {
    width: calc(50% - 0.5rem);
  }
}

/*# sourceMappingURL=profile.css.map */
