section {
  margin-top: 120px;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .checkout {
    display: flex;

    .table-cart {
      width: 70%;

      table {
        width: 100%;
        margin-top: 2rem;
        border-collapse: collapse;

        thead {
          text-align: center;

          tr {
            border-bottom: 1px solid #3e3e3e22;
          }

          th {
            padding: 10px;
            font-weight: 500;
          }
        }

        tbody {
          text-align: center;

          .product {
            display: flex;
            align-items: center;

            img {
              width: 100px;
              border-radius: 20px;
              margin-right: 10px;
            }
          }

          .total {
            i {
              color: #3e3e3e;
            }

            i:hover {
              color: rgb(224, 77, 77);
            }
          }

          td {
            padding: 1rem 10px;
          }

          .quantity {
            padding: 5px 0;
            border: 1px solid #3e3e3e22;
            border-radius: 20px;

            a {
              font-weight: 600;
              padding: 10px;
            }
          }

          .empty-cart {
            text-align: center;
          }
        }

        .text-left {
          text-align: start;
        }
      }
    }

    .final-checkout {
      width: 30%;
      margin: 1rem;
      padding: 2rem;
      background-color: rgb(240, 240, 240);
      height: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;


      .cart-total {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;
      }

      a {
        display: block;
      }
    }
  }
}

@media all and (max-device-width: 991.98px) {
  section {
    .checkout {
      flex-direction: column;

      .table-cart {
        width: 100%;
      }

      .final-checkout {
        width: 100%;
      }
    }
  }
}

@media all and (max-device-width: 575.98px) {
  section {
    .checkout {

      .table-cart {

        table {
          thead {
            display: none;
          }

          tbody {
            display: flex;
            flex-direction: column;
          }

        }
      }

      .final-checkout {
        margin: 1rem 0;
      }
    }
  }
}