@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
// Variable
$border: 1px solid rgb(211, 211, 211);
$dark: #3E3E3E;

:root {
  --color-dark: #212121;
}

// Globals
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: calc(100% - 50px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: 0;
  cursor: pointer;
}

// Form
input {
  margin-top: .5rem;
  padding: .8rem;
  border-radius: 10px;
  border: $border;
  font-size: 1rem;
}

textarea {
  border: $border;
  padding: 1rem;
  border-radius: 20px;
  margin-top: .5rem;
}

select {
  border: $border;
  padding: .5rem 1rem;
  border-radius: 10px;
  margin-top: .5rem;
}

// Button
.btn {
  display: inline-block;
  padding: 20px 50px;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.btn-sm {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  text-align: center;
  font-size: .8rem;
  font-weight: 500;
}

.btn-dark {
  background-color: #3E3E3E;
  color: white;
}

.btn-dark:hover {
  background-color: #595959;
  color: white;
}

// Alert
.alert {
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.alert-error {
  background-color: rgb(255, 146, 146);
  color: white;
}

.alert-info {
  background-color: rgb(49, 128, 255);
  color: white;
}

.alert-succes {
  background-color: rgba(184, 255, 166, 0.808);
  color: $dark;
}

.see-all {
  text-align: center;
  margin-top: 4rem;
}
