{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
<div class="container">
  <p class="alert alert-error">Votre paiement a été refusé veuillez réessayer <a
      href="{{ path('cart_validation') }}"></a></p>
</div>

{% endblock %}