{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
<div class="container">
  <h2>Merci {{ app.user.firstname }} !</h2>
  <p class="alert alert-succes">Votre paiement a bien été accepté</p>
</div>

{% endblock %}